<div class="container mt-3">
    <div class="row">
        <div class="col">
            <h1>Employee list</h1>
            <table class="table table-dark">                
                <thead>
                    <tr>
                        <th>Employee Name</th>
                        <th>Age</th>
                        <th>Department</th>                        
                        <th></th>                        
                        <th></th>                        
                    </tr>
                </thead>                
                <tbody>
                    <tr *ngFor="let employee of employeeList">
                        <td>{{employee.employeeName}}</td>
                        <td>{{employee.age}}</td>
                        <td>{{employee.department}}</td>
                        <td><button class="btn btn-primary" (click)="onEditEmployee(employee)">Edit</button></td>
                        <td><button class="btn btn-danger" (click)="onDeleteEmployee(employee.id)">Delete</button></td>
                    </tr>
                </tbody>
                <button class="btn btn-primary mt-3" (click)="onAddEmployee()">Add Employee+</button>
            </table>
        </div>
    </div>
</div>