<!-- <div>Hello Kunal! I am from {{address}}</div>

<div>This is {{title}}</div>

<div>Addition of {{num1}} and {{num2}} is {{num1+num2}}</div> -->

<!-- <app-first></app-first> -->

<!-- <app-second></app-second> -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" href="" routerLink="/first">First</a>            
          </li>
          <li class="nav-item">
            <a class="nav-link" href="" routerLink="/second">Second</a>            
          </li>    
          <li class="nav-item">
            <a class="nav-link" href="" routerLink="/template">Template</a>            
          </li>   
          <li class="nav-item">
            <a class="nav-link" href="" routerLink="/reactive-form">Reactive-form</a>            
          </li>   
          <li class="nav-item">
            <a class="nav-link" href="" routerLink="/reactive">Reactive</a>            
          </li> 
          <li class="nav-item">
            <a class="nav-link" href="" routerLink="/employees">Employee</a>            
          </li>       
        </ul>
      </div>
    </div>
  </nav>

<router-outlet></router-outlet>

<!-- <app-parent></app-parent> -->

<!-- <button class="btn btn-primary" (click)="onSend()">Send Value</button> -->

<!-- <app-lifecyclehooks [data]="data"></app-lifecyclehooks> -->


<!-- <app-my-parent></app-my-parent> -->


